---
# filler  
---

@import "no-style-please";

@font-face {
  font-family: "TT2020";
  src: url("/assets/fonts/TT2020StyleB-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; 
}

body {
  font-family: "TT2020", monospace;
  background-color: ##EFE3D1;
  color: #404040;
  letter-spacing: 0.3rem;
}